[2017-01-31 20:43] hallucino opened #2 "Add gfx functions"
We need new GFX functions, e.g:

- rounded rectangle (+ filled)
- arc
- ellipse (+ filled)
- polygon (+filled)
- trigon (+filled)

[2017-01-31 20:47] hallucino opened #3 "Server"
We need to have the possibility to communicate with PX8 remotely, to send packets.

A good solution is to use tokio.rs for that.

[2017-01-31 20:48] hallucino opened #4 "rpi-rgb-led-matrix renderer"
It can be interesting to support a led matrix as a renderer:
https://github.com/hzeller/rpi-rgb-led-matrix

[2017-01-31 20:49] hallucino opened #5 "Audio support"
Currently we don't have any audio support, let's add one !

[2017-01-31 20:50] hallucino opened #6 "Fix Rust syntax"
We have many warnings display with the rust compiler, let's fix them

[2017-01-31 20:52] hallucino opened #7 "Improve emscripten support"
We need to be able to generate a generic emscripten version of PX8 to be able to load cartridges with python + lua support.

[2017-01-31 21:42] Krzycho666 opened #8 "Nintendo 3DS port"
Would love to see it on 3DS. =]

[2017-02-01 07:48] hallucino commented on #8
Have you any example of rust program on 3DS ?

[2017-02-01 10:45] hallucino opened #9 "Add tests"
Add tests to be sure to not have any regression:
 - gfx
 - cartridge
 - plugins

[2017-02-01 16:04] Krzycho666 commented on #8
Is that enough? =]
https://github.com/rust3ds

[2017-02-02 10:02] hallucino opened #10 "Support joystick"
Add a good support with the Joystick or game controller

[2017-02-02 10:03] hallucino opened #11 "Manage key configuration per player"
We need to have the possibility to assign easily a new configuration for each player and to switch from joystick/keyboard etc

[2017-02-02 10:04] hallucino commented on #8
Do you want to try ? I don't have a Nintendo :/

[2017-02-02 13:36] Krzycho666 commented on #8
I do have, but I've never done anything using Rust. I've asked about that, because your project is the only open source one of this kind, and it supports PICO-8 roms - which are the most popular out there. And on the other hand, 3DS feets to this kind of project as hell!

[2017-02-25 09:21] hallucino opened #12 "Improve glium renderer support"
Right now it is possible with the SDL renderer to switch the palette or to add dynamic RGB value for the pixels.

We need to change the shader for glium to support this feature

[2017-03-04 09:01] hallucino opened #13 "Fix circfill function issue"
Some circles are not filled correctly, let's fix that

[2017-03-04 09:02] hallucino opened #14 "Use gfx-rs as a renderer too"
Let's move from glium to gfx-rs to have another renderer.

[2017-03-04 09:02] hallucino commented on #12
Close it, move to #14

[2017-03-04 09:02] #12 closed

[2017-03-04 14:08] #13 closed

[2017-03-17 05:22] hallucino opened #15 "Editor mode"
Many things need to be improve:

- [x] Display the map section
- [x] zoom in/out for map edition
- [x] save map modification
- [x] Copy/Paste a sprite
- [x] zoom in/out for sprite edition
- [x] edit sprite's flags
- [x] save sprite modification

[2017-04-22 21:41] niclashoyer opened #16 "Panic upon running the demos"
Just gave the current master branch a try on Fedora  25 using rust 1.16.0.

I get a panic in [src/sound/mod.rs](https://github.com/Gigoteur/PX8/blob/master/src/sound/mod.rs#L74)

[code]

[2017-04-22 22:26] popey commented on #16
Confirmed on Ubuntu 16.04 LTS.
[code]

[2017-04-23 05:53] hallucino commented on #16
Hi,

I will disable the sound right now, it is clearly not stable or finish

[2017-04-23 06:41] hallucino commented on #16
Could you try to recompile ?
cargo run --release --features "cpython lua" && ./target/release/px8 -s 4 ./games/ski/ski.px8

(I removed demos/ski.py it was the same code)

[2017-04-23 07:20] Tenchi2xh opened #17 "True keyboard mode"
Something I felt terribly missing from the original Pico8 was the lack of true keyboard support. I had tons of ideas that I could just not implement because there was no real keyboard input (create a tiny terminal, text adventure, an OS etc.)

Could it be possible to have a true keyboard mode, either activated programatically or with an environment variable?

That would effectively extend PX8 to b

[2017-04-23 08:28] hallucino commented on #17
Have you some example to have a better understanding ?

[2017-04-23 08:56] Tenchi2xh commented on #17
Basically a mode where when you boot, you don't have 2 joypads, but instead each key on the keyboard is a different event.

For example, instead of `btn(4)` and `btn(5)` being the two buttons on the controller for example, `btn(n)` would represent the key of ASCII `n` being pressed.

[2017-04-23 09:02] Tenchi2xh commented on #17
So if I want to make a game where you move using the <kbd>W</kbd>&nbsp;<kbd>A</kbd>&nbsp;<kbd>S</kbd>&nbsp; <kbd>D</kbd> keys (<kbd>Z</kbd>&nbsp;<kbd>Q</kbd>&nbsp;<kbd>S</kbd>&nbsp;<kbd>D</kbd> in France I think) I would have something like (in Python):

[code]

[2017-04-23 10:23] niclashoyer commented on #16
works! great 😄

[2017-04-23 10:23] #16 closed

[2017-04-23 23:13] nikolay opened #19 "Support Python 3.6 on macOS"
[code]

[2017-04-24 04:20] proman21 commented on #5
Could be possible to use something like [Sunvox](http://www.warmplace.ru/soft/sunvox/) tracker to provide an music engine? It has a C interface and provides very powerful creation system. I think that it could be a easy way to let carts make their own music while reducing the work required to provide a music engine.

Of course, it might provide more features than needed, and could impact the perfo

[2017-04-24 06:40] hallucino commented on #19
Hi,

thank you for the report.

I noticed this bug too and right now you could install python 3 on OSX and export the following env variable DYLD_FALLBACK_LIBRARY_PATH, e.g:
export DYLD_FALLBACK_LIBRARY_PATH=/usr/local/Cellar/python3/3.5.1/Frameworks/Python.framework/Versions/3.5/lib

I will try to understand how to do it automatically

[2017-04-24 06:59] hallucino commented on #17
It seems a good idea, I need to figure out how to do that

[2017-04-24 07:01] hallucino opened #21 "Move the gif creation in a thread"
Right now during the creation of the GIF for the video, the main thread is busy so the game is stopped, let's move that in a thread in the background.

[2017-04-24 07:19] hallucino commented on #5
Well my idea is to support classic audio format (MIDI/WAV/etc) and not to have a built in modular synthesizer in the project, and so to use external one.

[2017-04-25 18:43] hallucino commented on #19
Does it work ?

[2017-04-25 20:20] ghost opened #22 ".deb package missing"
where can we find .deb packages?

[2017-04-26 03:07] hallucino commented on #22
Good question ! Right now I'm waiting to finish the 0.0.3 version before doing that.

[2017-04-26 12:00] titimoby opened #23 "Ubuntu compile error " relocation R_X86_64_32S against `_Py_NotImplementedStruct' ""
From Ubuntu 16.04.2
I installed Rust to have cargo
I installed the 3 requirements described.
Launch of command "cargo build --features="cpython lua" --release" ended with the following error =>

`error code below:`
  = note: /usr/bin/ld: /home/thierry/projects/PX8/target/release/deps/libpython3_sys-c505fcaadb1041e8.rlib(abstract.o): relocation R_X86_64_32S against `_Py_NotImplementedStruct' can no

[2017-04-26 12:11] hallucino commented on #23
@titimoby could you tell me your rust version please ?
[code]

[2017-04-26 12:15] titimoby commented on #23
rustc 1.18.0-beta.1 (4dce67253 2017-04-25)

and looking at this, I used beta channel on a previous test for a small rust tutorial.
Is it better to get back to stable channel ?

[2017-04-26 12:19] hallucino commented on #23
I'm not sure. Could you try with the nightly ?

[2017-04-26 12:20] titimoby commented on #23
sure, I've no production constraint on rust.
just exploring software to add to my kid's workshop

[2017-04-26 12:52] titimoby commented on #23
rustc 1.18.0-nightly (2b4c91158 2017-04-25)
python 3.6.1
same error.

I don't know how to check but I read that Python may be compiled sometimes without a enable-shared flag
http://stackoverflow.com/questions/42582712/relocation-r-x86-64-32s-against-py-notimplementedstruct-can-not-be-used-when

[2017-04-26 13:03] titimoby commented on #23
I used :
PYTHON_CONFIGURE_OPTS="--enable-shared" pyenv install --force 3.6.1

Then I checked using some python code
`import sysconfig
print(sysconfig.get_config_var('CONFIG_ARGS'))`

result was :
`'--prefix=/home/thierry/.pyenv/versions/3.6.1' '--enable-shared' '--libdir=/home/thierry/.pyenv/versions/3.6.1/lib' '--enable-unicode=ucs4' 'LDFLAGS=-L/home/thierry/.pyenv/versions/3.6.1/lib -Wl,-rpath=/

[2017-04-26 13:04] hallucino commented on #23
ok :(

@dgrunwald: have you any idea ?

[2017-04-26 13:04] titimoby commented on #23
maybe I first need to clean the build folder of PX8.
Is it easy to do with cargo ?

[2017-04-26 13:05] hallucino commented on #23
cargo clean

[2017-04-26 13:05] titimoby commented on #23
I have good network, I used rm -rf and clone again ;)
Result is coming...

[2017-04-26 13:11] titimoby commented on #23
I don't know if I continue on this bug or if I open another ;)
Build ended with bunch of warnings but no errors

Then :
`thierry-laptop% ./target/release/px8
./target/release/px8: error while loading shared libraries: libpython3.6m.so.1.0: cannot open shared object file: No such file or directory`

[2017-04-26 13:18] hallucino commented on #23
Warning are related to rust syntax.

For this one it seems that the dynamic library is not found.

Could you try a 'ldconfig' to update the files please ?

[2017-04-26 13:22] titimoby commented on #23
I added
`export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:~/.pyenv/versions/3.6.1/lib`

and PX8 launched.
I have to stabilize my pyenv settings obviously.
Thanks a lot.
Maybe add something about rust version to use

[2017-04-26 13:23] #23 closed

[2017-04-29 04:57] hallucino opened #24 "Fix font part"
I need to improve few things:

- [x] fix non valid characters in the current font
- [ ] add a way to change the font dynamically

[2017-04-29 04:57] hallucino commented on #19
?

[2017-04-29 06:13] nikolay commented on #19
@hallucino Yeah, this made it pass beyond the initial crash, but it still doesn't work (due to Rust issues now).

[2017-04-29 07:48] hallucino commented on #19
what is the output ?

[2017-04-29 21:38] nikolay commented on #19
@hallucino For sure, it does not work in the itch.io desktop client. When I go to `~/Library/Application Support/itch/apps/PX8/PX8` and run it, then some games (with `.px8` file) work, others (like flappy) and fill up the console with:
[code]
Is it possibly to somehow remove the annoying FPS header?

Anyway, it looks like only flappy does not work at this time with the latest release.

[2017-04-30 05:39] hallucino commented on #19
ok so it seems ok, Flappy was more a test so I will take a look

[2017-04-30 05:39] #19 closed

[2017-04-30 08:26] hallucino opened #25 "Add perlin noise library"
Right now I used opensimplex from Python, but let's add a native one via https://github.com/brendanzab/noise-rs

- [x] add the library in PX8
- [x] create the binding for Python
- [x] create the binding for Lua

[2017-04-30 11:42] hallucino opened #26 "Add physics library"
It will be easier to have directly the physics library in PX8, it will save us a lot of time :)

https://github.com/sebcrozet/nphysics

- [ ] add the library in PX8
- [ ] add the binding for Python/Lua

[2017-04-30 18:48] dtolnay opened #27 "Drop rustc-serialize dependency"
It has been deprecated: [announcement](https://users.rust-lang.org/t/deprecation-of-rustc-serialize/10485?u=dtolnay).

Is there any functionality you would require from Serde or another library before this would be possible?

[2017-05-01 05:45] hallucino commented on #27
Thank you for your report. I will move to Serde !

[2017-05-01 05:47] #27 closed

[2017-05-01 08:00] hallucino opened #28 "Add cartdata features"
We need to have the possibility to save user's data

[2017-05-01 15:43] iezed opened #29 "error: proc-macro derive panicked"
Hello, I compiled with this command :
PX8_SCREEN_WIDTH=256 PX8_SCREEN_HEIGHT=256 cargo build --features="lua" --release
and I have this error. I have rust 1.17 on osx 10.10.5.
Thanks.
error: proc-macro derive panicked
   --> src/cartridge/mod.rs:905:21
    |
905 | #[derive(Serialize, Deserialize)]
    |                     ^^^^^^^^^^^
    |
    = help: message: proc_macro::__internal::with_parse_s

[2017-05-01 17:42] hallucino commented on #29
Weird !

Could you done a cargo clean to be sure ?

[2017-05-01 17:57] iezed commented on #29
I done a cargo clean, but nothing change.

[2017-05-01 19:47] hallucino commented on #29
I can't reproduce this bug, it is weird

[2017-05-01 19:49] hallucino commented on #29
It seems related to Serde, @dtolnay: have you an idea ?

[2017-05-01 19:53] dtolnay commented on #29
This is rust-lang/rust#39870. The homebrew packaging for Rust is hosed. Uninstall everything Rust-related with homebrew and reinstall with https://rustup.rs/ to fix this.

[2017-05-01 19:57] hallucino commented on #29
@dtolnay: Thanks !

@iezed tell me if it works to close the bug !

[2017-05-01 21:21] iezed commented on #29
Thanks, I'll try in this day.

[2017-05-01 22:31] iezed commented on #29
I reinstall rust with rustup, and now can build. Thanks.

[2017-05-01 22:31] #29 closed

[2017-05-02 12:01] iezed opened #30 "fatal runtime error: stack overflow on OSX 10.10.5"
Hi, I compiled PX8 with this features :
PX8_SCREEN_WIDTH=256 PX8_SCREEN_HEIGHT=256 cargo build --features="cpython lua" --release
, on ubuntu and osx. In ubuntu i can run the samples, but on osx I have this error :
thread 'main' has overflowed its stack
fatal runtime error: stack overflow
Abort trap: 6.
With this examples  :  ./target/release/px8 -s 4 ./demos/demos.py
it's ok, but with this :  ./t

[2017-05-02 12:48] hallucino commented on #30
Could you try with:
cargo build --features="cpython lua" --release

without the changement of the screen size ?

[2017-05-02 13:45] iezed commented on #30
I've done, cargo clean and cargo build --features="cpython lua" --release
and now don't run nothing.
Mabye the problem can be this ?
/Library/Frameworks/Python.framework/Versions/3.5/Python,
I did not install python3 from homebrew but from dmg.

[2017-05-02 13:57] iezed commented on #30
I set export DYLD_FALLBACK_LIBRARY_PATH=/Library/Frameworks/Python.framework/Versions/3.5/lib
this way, and it does not change anything.

[2017-05-02 20:11] hallucino commented on #30
I'm not sure to understand.

What is the output of:
[code]

[2017-05-02 20:56] iezed commented on #30
Thread 0 Crashed:: Dispatch queue: com.apple.main-thread
0   libsystem_kernel.dylib        	0x00007fff85bb3286 __pthread_kill + 10
1   libsystem_c.dylib             	0x00007fff879a19a3 abort + 129
2   px8                           	0x0000000103641be9 std::sys::imp::abort_internal + 9
3   px8                           	0x0000000103640bb3 std::sys_common::util::abort + 131
4   px8

[2017-05-03 07:34] #6 closed

[2017-05-03 07:34] hallucino commented on #30
Could you run the example with '-v' please ?

[2017-05-03 08:29] iezed commented on #30
[2017-05-03][10:25:05][INFO] [Frontend] SDL2 init
[2017-05-03][10:25:05][INFO] [Frontend] SDL2 Video init
[2017-05-03][10:25:05][INFO] [Frontend] SDL2 event pump
[2017-05-03][10:25:05][INFO] [Frontend] creating renderer
[2017-05-03][10:25:05][INFO] [SDL] Creating window fullscreen=false opengl=false

thread 'main' has overflowed its stack
fatal runtime error: stack overflow
Abort trap: 6

[2017-05-03 10:24] hallucino commented on #19
@nikolay for the FPS, use F2 to disable it

[2017-05-03 12:10] iezed opened #31 "Add more python/lua/rust examples"
Hi, I do not see examples in rust or lua, could you write some examples? Thank you.

[2017-05-03 13:27] hallucino commented on #31
Yes sure, it is a good idea !

[2017-05-04 19:06] #25 closed

[2017-05-04 19:09] hallucino commented on #31
I started to add some examples:

- lua -> https://github.com/Gigoteur/PX8/tree/master/examples/helloworld/lua
- rust -> https://github.com/Gigoteur/PX8/blob/master/examples/helloworld.rs

[2017-05-04 19:12] hallucino commented on #31
- [ ] Python examples
- [ ] Lua examples
- [ ] Rust examples
- [ ] PX8 [Tutorial](https://github.com/Gigoteur/PX8/wiki)

[2017-05-04 20:15] iezed commented on #31
thank you, very grateful.

[2017-05-05 06:05] hallucino commented on #30
I don't know the problem here. Could you try with a fresh installation and try to run the current demo ?

[2017-05-07 05:38] hallucino opened #32 "Add API to get screen size information"
Add the API to get information about the dynamic size for:

- [ ] screen size
- [ ] map size
- [ ] sprite sheet size

[2017-05-10 19:24] hallucino commented on #15
I think we are good for this version at least. We have basic support for sprite/map with zoom, move, copy/paste, erase

[2017-05-10 19:24] #15 closed

[2017-05-13 05:02] hallucino commented on #30
Hi,

could you try with a latest sync ?

[2017-05-13 05:15] hallucino opened #33 "Add a network game"
It seems easy to do a simple demo of a network game with PX8 due to the no restriction of the network for the cartridge.

Let's add:

- [ ] a simple PONG example
- [ ] a more complex one

[2017-05-13 09:32] iezed commented on #30
Hi, Nothing has changed. Just px is fine, when I try to run an example, I have runtime error.
![schermata 2017-05-13 alle 10 34 05](https://cloud.githubusercontent.com/assets/1742148/26024312/3cafa574-37cf-11e7-97bf-bab5ffa7a93a.png)

[2017-05-13 19:24] hallucino commented on #30
could you try to run:
cargo run --features "cpython lua" --release --example helloworld -- -s 4

and paste the results ?

[2017-05-13 20:08] iezed commented on #30
It works :)

[2017-05-13][21:59:51][INFO] [Frontend] SDL2 init
[2017-05-13][21:59:51][INFO] [Frontend] SDL2 Video init
[2017-05-13][21:59:52][INFO] [Frontend] SDL2 event pump
[2017-05-13][21:59:52][INFO] [Frontend] creating renderer
[2017-05-13][21:59:52][INFO] [SDL] Creating window fullscreen=false opengl=true
[2017-05-13][21:59:52][INFO] [SDL] Creating renderer
[2017-05-13][21:59:52][INFO] [SDL]

[2017-05-15 09:21] hallucino commented on #30
Could you try:
./target/release/px8 -s 4 ./examples/helloworld/lua/helloworld.p8

to be sure it is a problem in the python code

[2017-05-15 13:42] iezed commented on #30
Always the same error at execution.
cargo run --features "cpython lua" --release --example helloworld -- -s 4
This is the only way to execute on my OSX.

[2017-05-19 08:07] hallucino commented on #17
You could try this feature with:
btn('a') or btnp('a') for example, it should work with python

[2017-05-19 08:08] hallucino commented on #17
- [ ] add the doc
- [ ] add the lua binding

[2017-05-22 06:57] hallucino commented on #24
@johnbatty it seems ok for all characters no ?

[2017-05-22 06:58] hallucino commented on #7
Here an list of items:

- [ ] native support with emscripten for the Rust
- [ ] include rust cartridge
- [ ] include lua cartridge
- [ ] include python cartridge

[2017-05-22 20:20] johnbatty commented on #24
Yes, I think the current font is now good!
I also want to add one or more bigger font(s) for higher resolution modes, and then also obviously need to provide a way of selecting them.
I think I might change the font definition format to store the glyphs in row by row format rather than the current column by column format.  Will make them easier to define.  Do you have any objection to that?  I'd ob

[2017-05-22 20:24] johnbatty opened #42 "Add runtime dynamic resolution selection"
Currently the screen resolution configurable, but is defined at compile time.

I think it would be interesting to allow it to be configured at runtime - i.e. switch between different modes.  In particular, it would be nice to be able to use a higher resolution mode when editing code (in some future version that includes a text editor!) than when running the game.

What do you think?

[2017-05-22 20:43] johnbatty opened #43 "Fix display depth to maximum of 8bpp?"
The current code supports an 8bpp (and 4bpp, if you only use the first 16 colour values!), with a color translation on drawing (palt()), and a mapping to RGB on display (via a configurable 256 entry palette).  This fits with retro games consoles capabilities, and given the default low resolution and retro palettes provided this seems to be the main target for PX8.

However, internally the code cur

[2017-05-23 06:44] hallucino commented on #43
Yes sure !

I was doing some experiments with the 32bpp, so feel free to delete it, specially if there is an improvement ! Could you keep the palette switching ?

[2017-05-23 06:45] hallucino commented on #42
Yes I agree !

[2017-05-23 06:46] hallucino commented on #24
no objection, it seems a good idea !

[2017-05-23 06:47] johnbatty commented on #43
Ok great.  I'll submit a pull request.  It has still got palette switching (which uses an array rather than a HashMap).  I think you'll be pleased with the performance improvement :-)

[2017-05-23 06:59] johnbatty commented on #42
I quite like the idea of having "modes" that set the resolution, palette and font to that of a specific computer/console, e.g. mode("pico-8"), mode("spectrum"), etc...

[2017-05-24 05:53] hallucino commented on #43
got it !

[2017-05-24 08:08] hallucino commented on #42
Yes I think it can be very good to have such features !

[2017-05-26 12:04] hallucino opened #46 "Add icon to the project"
We need to add the icon when we run the binary.

[2017-05-26 17:04] #43 closed

[2017-05-26 20:49] hallucino opened #47 "Interactive mode"
Add an interactive mode when the binary is run without arguments:

- [x] add a new state for this new mode
- [x] list all px8/p8 files in the current directory
- [x] handle correctly multiples cartridges
- [x] add a new menu to display the current cartridges

[2017-05-29 19:51] hallucino commented on #47
I added a basic menu to show px8/p8 files, and the logic to switch to another cartridge via the menu.

[2017-05-29 20:21] hallucino commented on #47
I will work more correctly on a better menu for the next version.

You could get the menu in a game via: pause -> quit

or directly without any cartridge argument:
./target/release/px8 -s 4

[2017-05-30 19:06] hallucino commented on #24
Seems ok no ? We could close this bug ?

[2017-05-30 19:07] johnbatty commented on #24
Yep, I agree!

[2017-05-30 19:07] #24 closed

[2017-06-03 21:32] hallucino commented on #7
All supports works correctly, I need to find a way to add the python cartridge support in emscripten.

[2017-06-06 13:07] hallucino commented on #42
Have you some news about this part ?

[2017-06-07 21:26] johnbatty commented on #42
I have been working on this!  Nearly there... just very busy with other things at the moment :-(

[2017-06-07 21:30] johnbatty commented on #42
From a build earlier this evening... :-)
[code]

[2017-06-08 05:18] hallucino commented on #42
👍

[2017-06-12 05:55] ilovezfs commented on #29
This should no longer be a problem in Homebrew due to https://github.com/Homebrew/homebrew-core/pull/14490.

[2017-06-12 10:14] hallucino commented on #29
thx !

[2017-06-12 19:53] iezed commented on #30
I compiled with the new version of rust, and now is fine. I have no idea why, but with the new version of rust, I have no run-time errors.

[2017-06-13 19:26] #30 closed

[2017-06-16 10:15] hallucino commented on #42
Seems ok I think ? I found only bugs with the menu after the modification but otherwise it seems to work perfectly !

[2017-06-16 13:49] johnbatty commented on #42
Yep, I think we can close!

[2017-06-16 13:49] #42 closed

[2017-06-24 09:39] #31 closed

[2017-06-25 02:24] rwmpelstilzchen commented on #5
Hi,

I want to thank you for PX8. I follow its development and it’s quite impressive. 8-bit + FOSS + programming the carts in Python = ♥

About this particular idea, IMHO it is not such a good idea, because:

* It will be completely incompatible with Pico-8, resulting in making PX8 unable to run Pico-8 carts with sound. I don’t say PX8 has to be 100% compatible with Pico-8, but this is a major iss

[2017-06-25 06:27] hallucino commented on #5
@rwmpelstilzchen yes sure I agree with you. I will add basic support like prototracker, mod/mml format. But I want to have also high level format too. Both are not incompatible 👍

[2017-06-25 09:10] rwmpelstilzchen commented on #5
Thanks :-)

[2017-06-28 08:49] hallucino opened #51 "Provide automatic build"
We need a way to automatic provide build for:
Windows
OSX
Linux

any hints ?

[2017-06-28 13:54] hallucino opened #52 "Add trollmini font"
See:
https://www.patreon.com/posts/12232698

@johnbatty do you think it is possible ?

[2017-06-29 06:57] hallucino commented on #5
- [X] sdl audio support for music/sound
- [ ] mod format
- [ ] mml format
- [ ] music editor

[2017-07-01 05:50] hallucino commented on #51
Right now I will try to hold that on my side.

[2017-07-01 05:50] #51 closed

[2017-07-01 05:50] hallucino commented on #52
@johnbatty ? :)

[2017-07-01 15:50] #46 closed

[2017-07-03 07:50] hallucino opened #54 "Move Editor in pure rust"
Right now the editor is in Python, it could be a good idea to move it in Rust.

[2017-07-04 08:49] hallucino commented on #52
@johnbatty are you still here ?

[2017-07-07 08:22] johnbatty commented on #52
Hi.  I'm still alive! Just incredibly busy at the moment, so no time to work on PX8 :-(
Hopefully I'll be able to get back to it soon.
Yep, definitely possible to add new fonts - it just needs the work to create the definition...

[2017-07-09 09:27] Matt-McConway commented on #52
I've almost got this finished.
Let me know if you want me to submit a pull request when it's done :)

Loving this project!

[2017-07-09 09:38] hallucino commented on #52
@Matt-McConway yes please you're welcome !

[2017-07-10 11:04] Matt-McConway commented on #52
@hallucino I've created the pull request now. Let me know if I've done anything wrong! This is my first time working with Rust and my first time collaborating on github, so hopefully I got it right :)

[2017-07-10 11:10] hallucino commented on #52
Thank you !

[2017-07-10 11:10] #52 closed

[2017-07-11 09:48] hallucino commented on #52
@Matt-McConway do you want to add more fonts ?

[2017-07-11 09:53] Matt-McConway commented on #52
Sure! What did you have in mind?

[2017-07-11 09:56] hallucino commented on #52
We could find more tiny fonts, but we could also have the ability to zoom in a font

[2017-07-11 10:00] Matt-McConway commented on #52
Alright, I'll take a look!

What do you mean by zooming in a font?

[2017-07-11 10:03] hallucino commented on #52
We could change the size of the font, to have different view of it

[2017-07-11 10:27] Matt-McConway commented on #52
Similar to how you change the size of a font in text editors (e.g. 10pt, 12pt etc)? Might be a bit beyond me, but I'll look into it :)

[2017-07-14 07:41] hallucino commented on #54
ok I will mark this bug as complete, and let add new features in new bugs.

[2017-07-14 07:41] #54 closed

[2017-07-14 07:41] #47 closed

[2017-07-14 07:42] hallucino opened #56 "Text editor support"
It seems a good feature to add a text editor directly in PX8.

Let's start to work on it.

[2017-07-14 08:01] hallucino commented on #17
@Tenchi2xh do you want to test it ?

[2017-07-15 08:33] iezed opened #57 "Lua"
Hi, on Ubuntu I try to build with lua plugin, but I have this error:
'does not have these features: lua'. I need to install something? Thanks.

[2017-07-15 08:41] Matt-McConway commented on #57
Just double checking, do you have Lua [installed](https://www.lua.org/download.html)?

[2017-07-15 08:44] iezed commented on #57
Yes,I have lua 5.2.4.

[2017-07-15 08:51] Matt-McConway commented on #57
I'm thinking only 5.3 and beyond is supported, based off what I found [here](https://github.com/Gigoteur/PX8/blob/master/src/plugins/lua/README.md).  @hallucino Do you know what's going on here?

[2017-07-15 08:54] iezed commented on #57
I have, lua5.1, lua5.2, lua5.3 and liblua5.3-dev.

[2017-07-15 09:28] hallucino commented on #57
Have you sync with the latest commit ? I did some modification yesterday. Do a 'cargo clean' before

[2017-07-15 09:30] hallucino commented on #57
Oops sorry. Please use 'px8_plugin_lua' for the features option. I did that because I want to modify in depth the plugin yo speed up the perf.

[2017-07-15 10:52] iezed commented on #57
Thanks.

[2017-07-15 13:58] hallucino commented on #57
I added the modif here:
https://github.com/Gigoteur/PX8/blob/master/README.md#build

[2017-07-15 13:58] #57 closed

[2017-07-15 15:57] matheynen opened #58 "SdlError"
Hi, I'm trying to use PX8 on UbuntuStudio 17.04.
I've got problem with libpython3.4m.so.1.0 but with this script it's ok [https://gist.github.com/puentesarrin/8290754](url)
Now I've got this error : `[2017-07-15][17:51:58][INFO] [SDL] Creating renderer
thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: SdlError("Couldn\'t find matching render driver")', /checkout/src/libcore/r

[2017-07-15 16:30] hallucino commented on #58
Waht is the command line you use to build the project ?

[2017-07-17 05:34] hallucino commented on #58
@matheynen have you the command line please ?

[2017-07-17 11:18] matheynen commented on #58
`cargo build --features="cpython px8_plugin_lua" --release`
I tried also with the binaries but same bug

[2017-07-17 12:09] hallucino commented on #58
What is you graphical card ?

[2017-07-17 13:51] matheynen commented on #58
Intel Corporation HD Graphics 5500. It's maybe a driver problem. I'm searching a solution

[2017-07-17 14:12] matheynen commented on #58
Intel HD 5500. I've bug with ubuntu 17.04. I will downgrade

[2017-07-17 15:47] matheynen commented on #58
Same bug on ubuntu 16.04

[2017-07-17 16:26] hallucino commented on #58
Could you test some examples from:
https://github.com/AngryLawyer/rust-sdl2/tree/master/examples

to see if it works please ?

[2017-07-17 18:38] matheynen commented on #58
Sound, mouse examples works but all graphic not, except 'no-renderer' and 'renderer-target'

[2017-07-17 18:46] hallucino commented on #58
ok so it seems more a bug with SDL rather than PX8

[2017-07-18 07:09] hallucino commented on #58
I will close this bug. It the example with rust-sdl2 works but not with PX8, please reopen this bug.

Thank you

[2017-07-18 07:09] #58 closed

[2017-07-28 08:51] timloo0710 opened #59 "There are some build errors in Win 10?"
Dear all:

After I install MS BUILD TOOLS 2015,
I ran "cargo build --features="cpython px8_plugin_lua" --release "

It shows message as follows:
   Compiling px8_plugin_lua v0.0.11 (file:///C:/Users/synct/git/PX8/src/plugins/lua)
error: failed to run custom build command for `px8_plugin_lua v0.0.11 (file:///C:/Users/synct/git/PX8/src/plugins/lua)`
process didn't exit successfully: `C:\Users\synct\

[2017-07-28 08:57] timloo0710 commented on #59
I test the cl.exe, lib.exe in my cmd,
It shows as follows:

synct@sy-pc MINGW64 ~/git/PX8 (master)
$ cl --v
bash: cl: command not found

synct@sy-pc MINGW64 ~/git/PX8 (master)
$ cl help
bash: cl: command not found

synct@sy-pc MINGW64 ~/git/PX8 (master)
$ cl.exe -v
bash: cl.exe: command not found

synct@sy-pc MINGW64 ~/git/PX8 (master)
$ lib.exe
bash: lib.exe: command not found

------------------

[2017-07-28 09:16] timloo0710 commented on #59
Hello, All:

I add the  "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin" to the "Path"  system variable,

I alse ran "cargo build --features="cpython px8_plugin_lua" --release",

It showed  other messages:

   Compiling secur32-sys v0.2.0
   Compiling schannel v0.1.7
error: failed to run custom build command for `px8_plugin_lua v0.0.11 (file:///C:/Users/synct/git/PX8/src/plugins/lua)`

[2017-07-29 09:27] hallucino commented on #59
Well it is not so easy to build LUA + Python together. At least I failed until now too. But you can compile separately !

[2017-07-30 23:15] doyousketch2 commented on #22
It's easy enough to build from source, but takes some time.

Be certain to install dev headers for OpenSSL or you get this error:

So yeah, either run each command individually, or string them all together with `&&`

`sudo apt-get update`
`sudo apt-get install libsdl2-dev libsdl2-mixer-dev libpython3-dev libssl1.0-dev`
`git clone https://github.com/Gigoteur/PX8.git`
`cd PX8`
`cargo build --feature

[2017-08-05 13:11] hallucino commented on #5
My plan is the following:

- [X] audio support via SDL
- [ ] Use libksnd to have the chiptune (here the ongoing binding: https://github.com/Gigoteur/chiptune-rs)
- [ ] Add instrument editor
- [ ] Add song editor

[2017-09-05 13:14] hallucino commented on #5
Support for libksnd is added via https://github.com/Gigoteur/chiptune-rs.

[2017-09-05 13:16] hallucino commented on #8
any volunteers ? :)

[2017-09-05 14:53] rwmpelstilzchen commented on #5
Great news!

When I open it in Klystrack it plays much faster and in a higher pitch, though.

[2017-09-05 18:21] hallucino commented on #5
@rwmpelstilzchen It is possible ! I will add the possibility to access all options via the API

[2017-09-08 12:34] hallucino opened #60 "Add javascript support (duktape)"
The idea is to do what we have currently for Python/Lua but with Javascript. A good candidate seems http://duktape.org/.

The plan is the following:

- [ ] create duktape binding for rust (existing implementation seems out of date)
- [ ] add the existing API for Javascript
- [ ] Populate the examples directory

[2017-09-11 20:18] mar-sw commented on #8
I would try to do it, I have a 3DS with CFW, so...
:)

[2017-09-11 21:41] Krzycho666 commented on #8
I can help, but not sooner then a month from now.

[2017-09-12 22:39] mar-sw commented on #8
Yes, no problem! :)

2017-09-12 16:13 GMT-03:00 Hallucino <notifications@github.com>:

[2017-09-16 20:29] StinkerB06 opened #61 "32-bit x86 version?"
This is the kind I currently have at hand so you must trans-pile the code into an x86 version.

[2017-09-17 08:19] #61 closed

[2017-09-27 15:56] CatsAreFluffy commented on #61
Nobody "trans-piles" x64 into x86. They just compile the source into x86. Also, no.

[2017-10-20 19:26] vanfanel opened #62 "Loading Celeste (pico-8)"
Hi, Gigoteur!

I have found that PX8 is, with a LARGE difference, the best fantasy-console available on the Raspberry PI 3 in terms of performance: picolove is slooooow and buggy, for example, and your implementation is perfectly synchronized with the screen: smooth scrolls are smooth!
So I would REALLY love to use it to load Pico-8 games, too. However, Celeste, one of the first classics I tried f

[2017-10-21 05:39] hallucino commented on #62
Thank you

Running Celeste could be really interesting but I will need to fix all features to have the compatibility with pico8 (memory access etc) and the lua language modification too

But it is doable in the future !

[2017-10-21 12:50] iwk93 opened #63 "Android"
Would love to see it on android

[2017-10-24 14:37] vanfanel commented on #62
I hope to see it soon... It has potential to become the best pico8 implementation available. The original pico8 has "pauses" on the Pi I can't diagnose because of the lack of sourcecode,

[2017-10-25 05:53] egordorichev commented on #62
Hey, @hallucino, I could implement RAM, because I had big experience with that in the past time. But the thing is, your loader is really old now, and it doesn't properly load new carts (ver 9). It just gets stuck in a while loop.

Implementing RAM will mean much more faster access to VRAM also.

[2017-10-25 06:59] hallucino commented on #62
Hi, yes you're probably right but for this cart https://www.lexaloffle.com/bbs/cposts/1/15133.p8.png it seems still ok.

Feel free to work on it @egordorichev I'm still working on the code/sfx editor and I have less free time now

[2017-10-25 07:01] hallucino commented on #63
It works on Android but I need to create a proper APK with some games inside. And without the code/sfx editor now it is not super usable :)

[2017-10-25 08:10] egordorichev commented on #62
Oh, you are adding editors? Nice :) Will work on that on my free time.

[2017-10-26 09:05] iwk93 commented on #63
Thank you :)

[2017-10-26 22:47] astearon opened #64 "ModuleNotFoundError: No module named 'encodings'"
I get this error whenever i try to load anything.

[2017-10-27 19:06] hallucino commented on #64
Have you more details ? For windows or linux ?

[2017-10-29 05:38] hallucino commented on #62
@egordorichev do you want to do it ?

[2017-10-29 05:57] hallucino commented on #59
No it is available.

[2017-10-29 05:57] #59 closed

[2017-10-29 05:58] hallucino commented on #8
@mar-sw have you try ?

[2017-10-29 05:59] hallucino commented on #5
Audio support is working now. I kept only klystrack deps + sdl

[2017-10-29 06:33] egordorichev commented on #62
Ah, really busy with upcoming jams, sorry :(

[2017-10-30 07:10] astearon commented on #64
Windows 10 x64.
What other details do you need ?
Is there a log that i could extract or something ?

[2017-10-30 10:28] hallucino commented on #64
Have you python3 installed ?

[2017-10-30 18:56] astearon commented on #64
yes i have : Python 3.6.3

[2017-10-30 19:02] hallucino commented on #64
for x86-64 ?

[2017-10-30 21:38] astearon commented on #64
x86 only.  I installed x64 and the error is gone however i now get this:
[2017-10-30][21:37:54][INFO] [PX8] Loading LUA Plugin
thread 'main' panicked at 'LUA plugin disabled', src\plugins\lua_plugin.rs:2381
note: Run with `RUST_BACKTRACE=1` for a backtrace.

[2017-10-31 07:04] hallucino commented on #64
Do you use the pre-compiled binary or are you doing your own ?

[2017-10-31 10:26] astearon commented on #64
I used the pre-compiled binary
Should i try and compile my own ?

[2017-11-04 12:15] hallucino commented on #64
It is really weird ! I don't see why you have this error. Yes you could but I will try to find the reason too

[2017-12-19 06:00] markbreynolds opened #65 "Chiptune error linking with cc"
When trying to build from source I am getting a long list of errors saying there are multiple definitions in chiptune.

I am running Arch Linux with python3.6.3, sdl2 and sdl2_mixer installed. and am running `cargo build --features="cpython px8_plugin_lua" --release`

Here is the relevant log output:
[code]

[2017-12-22 11:59] yancharkin commented on #65
Same error on Debian Stretch

[2017-12-24 11:11] LovelyA72 commented on #64
![image](https://user-images.githubusercontent.com/29054052/34326002-b974be04-e8dd-11e7-8ae1-fdf5aabebfd6.png)
Same error here...
Windows 10 x64

Debug in VS2015:
![image](https://user-images.githubusercontent.com/29054052/34326012-f87577a6-e8dd-11e7-9456-279987d69da2.png)

Address: 00007fff96e3350e()

00007FFF96E33510  mov         edx,40000015h
00007FFF96E33515  mov         ecx,3
00007FFF96E3351A

[2017-12-24 13:50] doyousketch2 commented on #65
Got the same error.  Tried all this, but didn't get much further.
Possibly running into macro expansion error, or SDL2 MIDI issues.
This is as far as I got, maybe some of this info will help someone else figure it out.

PX8/src/chiptune/src/lib.rs mentioned 'pub mod ffi;' in the first line,
so I figured ffi dev headers might be used.
sudo apt-get install libffi-dev

Hard to say if that had any dif

[2018-01-07 13:31] hallucino opened #66 "Add PICO-8 mod"
Right now I removed all supports to pico-8 to avoid bad issue experience, but if someone wants to add it it is the bug to use !

[2018-01-07 13:31] #62 closed

[2018-01-07 13:32] #3 closed

[2018-01-29 21:16] Ferk commented on #8
What's the status of the libretro backend? Maybe it'd be easier to compile a libretro core for 3ds, since retroarch already offers a 3DS port (and many other consoles too).

[2018-01-29 21:21] hallucino commented on #8
Yep I agree it can be a good idea. We need few things for working but I did few tests and right now it works

[2018-02-27 22:06] mt12345 commented on #65
any progress here?

[2018-02-28 07:54] hallucino commented on #65
I did many modificqtion since that, coud you sync ?

[2018-02-28 18:07] Melon-Bread opened #67 "Build Instructions"
If you follow the README.md it says to:

Yet when you run that you are greeted with this:

So I do not know if I am missing something or the build instructions just need updated,

[2018-02-28 20:14] hallucino commented on #67
Weird !! Are you sync with the latest commit ?

[2018-02-28 20:16] hallucino commented on #67
Ok my bad I forgot to push a file :)

Could you try now ?

[2018-02-28 20:51] Melon-Bread commented on #67
Yup works perfect now. Thank you so much!

[2018-02-28 20:57] #67 closed

[2018-03-10 17:40] boozook opened #68 "build for iOS"
Please describe solution how to build for iOS & sim.

[2018-06-08 22:21] markbreynolds commented on #65
Sorry for the delay! Following the build instructions in the readme I am now able to successfully build the SDL2 version. Thanks!

[2019-02-10 21:10] DawnsDeparture opened #70 "Initial cargo build errors"
I am interested in the Unicorn Console, but I've been struggling to get something working for a couple of days now. I have tried what seems to be the earlier version in PX8, but I can only get that to run some demos and couldn't find the editor. But since Unicorn seems to be the currently supported fantasy console, I've mainly be trying for this.

I should preface this with the fact that I am comp

[2019-04-24 11:24] alice902 commented on #8
How's going? I'd love to play it on my 3dz.

[2019-05-23 14:37] pintman opened #71 "Missing library libypthon"
When started with a more recent python version (e.g. 3.5) it will not start complaining about a missing shared lib and will not start.

    ./px8: error while loading shared libraries: libpython3.4m.so.1.0: cannot open shared object file: No such file or directory

Cross-link to the older library solves the problem but needs to  change the systems lib folder.

[2021-04-10 03:24] konsumer opened #74 "error: could not compile `cpython`"
This might be related to #71. I get `error: could not compile `cpython``, even though I have the python dev-libs installed. Here is a quick reproduction of issue, if you have docker:

[code]

If there is a recommended docker container I should use instead (like maybe a version that has an earlier libpython3-dev) I'd happily take a recommendation.

[2021-12-29 15:29] jjant opened #75 "Is this project dead? And what happened to px8?"

[2022-06-07 09:10] #75 closed

[2022-06-07 09:11] hallucino commented on #71
Seems ok now

[2022-06-07 09:11] #71 closed

[2022-06-07 09:11] hallucino commented on #65
I removed it

[2022-11-24 09:21] hallucino opened #76 "Remove SDL Support"
Remove SDL Support

[2022-11-24 09:23] #7 closed

[2022-11-24 09:23] #14 closed

[2022-11-24 09:23] #22 closed

[2022-11-24 09:23] #63 closed

[2022-11-24 09:24] #28 closed

[2022-11-24 09:24] #10 closed

[2022-11-24 09:24] #68 closed

[2022-11-24 09:25] #70 closed

[2022-11-24 09:25] #64 closed

[2022-11-24 09:26] hallucino opened #77 "Add WASM Support"
[] fully compatible with WASM
[] Be able to load wasm code
[] Add demos/examples

[2022-11-24 09:27] hallucino opened #78 "Pixels support"
- [x] Use Pixels (https://github.com/parasyte/pixels) backend